[info]
id = ""
git = ""
unsupported = ""
bins = []

[target.all]
features = ""
no-default-features = false
flags = ""

[target.apple]
features = ""
no-default-features = false
flags = ""

[target.linux]
features = ""
no-default-features = false
flags = ""

[target.windows]
features = ""
no-default-features = false
flags = ""
