[info]
id = "coreutils"
git = "https://github.com/uutils/coreutils"
unsupported = ["x86_64-sun-solaris", "x86_64-unknown-netbsd", "x86_64-unknown-illumos"]
bins = ["coreutils"]

[target.apple]
features = "macos"

# Does not work with musl, currently no way to distinguish
# features between gnu and musl linux.
#[target.linux]
#features = "unix"

[target.windows]
features = "windows"
