name: Check README

on:
  pull_request:
    branches: [ main ]
    paths: [ .github/workflows/pr-readme.yml, pr/readme/**, crates/**, README.md ]
  workflow_dispatch:

permissions: { }

env:
  python-version: "3.13"

jobs:
  check:
    runs-on: ubuntu-slim
    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ env.python-version }}
      - name: Check README
        run: python ./pr/readme/check.py
