name: Archive Index

on:
  workflow_dispatch:
  schedule:
    - cron: '30 5 * * *'

jobs:
  archive:
    strategy:
      max-parallel: 1
      matrix:
        type: [ stable, nightly ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: archive
          persist-credentials: false
          fetch-depth: 0
      - name: Clean
        working-directory: ./${{ matrix.type }}
        run: rm -rf *
      - name: Archive
        uses: robinraju/release-downloader@v1.7
        with:
          tag: "${{ matrix.type }}-index"
          fileName: "*"
          out-file-path: "./${{ matrix.type }}"
      - name: Commit
        run: |
          git config --local user.email "41898282+github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git commit --allow-empty -a -m "Update Index"
      - name: Push changes
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: archive
