name: Archive Index

on:
  workflow_dispatch:
  schedule:
    - cron: '0 5 * * *'

jobs:
  archive:
    strategy:
      max-parallel: 1
      matrix:
        type: [ stable ]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: archive
          persist-credentials: false
          fetch-depth: 0
      - name: Clean
        working-directory: ./${{ matrix.type }}
        run: rm -rf *
      - name: Archive
        uses: robinraju/release-downloader@v1.9
        with:
          tag: "${{ matrix.type }}-index"
          fileName: "*"
          out-file-path: "./${{ matrix.type }}"
      - name: GitHub Commit & Push
        uses: actions-js/push@v1.4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: archive
          empty: true
