name: Check for updates

on:
  push:
    branches: [ main ]
    paths: [ .github/workflows/stable-check.yml, scripts/**, crates.json, Cross.toml, stable.template.yml ]
  pull_request:
    branches: [ main ]
    paths: [ .github/workflows/stable-check.yml, scripts/**, crates.json, Cross.toml, stable.template.yml ]
  workflow_dispatch:
  schedule:
    - cron: '0 6 * * *'

jobs:
  check:
    outputs:
      crates: ${{ steps.check.outputs.crates }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Skip Duplicate Actions
        uses: fkirc/skip-duplicate-actions@v5
        id: skip
        with:
          skip_after_successful_duplicate: false
          do_not_skip: '["pull_request"]'
          concurrent_skipping: always
      - name: Check for updates
        if: ${{ steps.skip.outputs.should-skip }}
        id: check
        run: echo "crates=$(./scripts/check.py stable ${{ github.event_name == 'pull_request' }})" >> $GITHUB_OUTPUT

  dispatch:
    if: ${{ needs.check.outputs.crates != '{}' || needs.check.outputs.crates != '' }}
    strategy:
      max-parallel: 1
      matrix: ${{ fromJson(needs.check.outputs.crates) }}
    runs-on: ubuntu-latest
    needs: [check]
    steps:
      - uses: actions/checkout@v3
      - name: Generate workflow
        run: ./scripts/gen.py stable ${{ github.event_name == 'pull_request' }} "${{ matrix.crate }}" "${{ matrix.version }}" "${{ matrix.license }}" "${{ matrix.dl }}" "${{ matrix.checksum }}" "${{ matrix.bins }}" "${{ matrix.flags }}" "${{ matrix.unsupported }}"
      - name: Print generated workflow file
        run: cat .github/workflows/stable-${{ matrix.crate }}.yml
      - name: Wait
        if: ${{ github.event_name != 'pull_request' }}
        run: sleep 15m
      - name: Run action
        uses: antaljanosbenjamin/single-commit-publish@v1.0.1
        with:
          github-token: ${{ secrets.API_TOKEN }}
          branch: trigger/stable
          files-and-dirs: '.github/workflows/stable-${{ matrix.crate }}.yml scripts/collect.py Cross.toml'
